.fileUpload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.imgThumb {
  height: 75px;
  vertical-align: middle;
  margin-right: 20px;
}

.errorText {
  color: #C00;
}
